@import './base.css';
@import './components.css';
@import './utilities.css';

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes phone-ring {
  0% {
    transform: translateX(0px);
  }
  5% {
    transform: translateX(5px);
  }
  10% {
    transform: translateX(-5px);
  }
  15% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  35% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  45% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animate-phone-ring {
  animation: phone-ring 2s infinite;
}
